/* page reset */

* {
	margin: 0;
	padding: 0;
	border: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* page setup */

html {
	background-color: #1e1e1e;
	color: white;
	font-family: monospace;
}

a {
	text-decoration: none;
	color: #c01c28;
}

/* columns */

.terminal-parent {
	display: grid;
	grid-template-columns: repeat(2, 40ch);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.terminal-div {
	margin: 1em 2em 1em 2em;
}
	
.terminal-left { grid-area: 1 / 1 / 2 / 2; }
.terminal-right { grid-area: 1 / 2 / 2 / 3; }

/* text divs */

.pre {
	white-space: pre;
}

.terminal {
	width: 35%;
}

.command {
	margin: 1em 1em 1em 1em;
}

.cursor {
	margin: 0 0 0 1ch;
	border-right: 1ch solid white;
	animation: cursor-blink 1s step-start infinite;
}

.response {
	margin: 1em 1em 1em 2em;
}

/* text colors */

.grn {
	color: #26a269;
}

.blu {
	color: #12488b;
}

.prp {
	color: #a347ba;
}

.red {
	color: #c01c28;
}

/* blinking cursor */

@keyframes cursor-blink {
	50% {
		opacity: 0;
	}
}

/* media queries */

@media (max-width: 1080px) {
	.terminal {
		width: 60%;
	}
}

@media (max-width: 768px) {
	.terminal {
		width: 100%;
	}
}
